@model Opgave_5.Models.Numbers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Next</title>
</head>
<body>
    <div>
        <h1> @Model.Number1 + @Model.Number2 = @Model.result1 </h1>
        <h1> @Model.Number1 - @Model.Number2 = @Model.result2 </h1>
        <h1> @Model.Number1 * @Model.Number2 = @Model.result3 </h1>
        <h1> @Model.Number1 / @Model.Number2 = @Model.result4 </h1>
    </div>
</body>
</html>
