@model Opgave_6.Models.Ages

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Next</title>
</head>
<body>
    <div>
        <h1> You are @Model.Age years old </h1>
        <h1> You want to retire when you are @Model.RetireAge </h1>
        <h1> You have @Model.left left until you can retire</h1>
        <h1> Its the yar @Model.dt, so can you retire in @Model.dt2</h1>
    </div>
</body>
</html>
